<div class="starter-template">
	<h1>Welcome to LunchFinder</h1>
	<p class="lead">Share your knowledge and experience to find new opportunities</p>

	<img src="start.jpg">

</div>

<div class="row">
	<div class="col-md-12">
		<h1>People first!</h1>
		<p>We believe that behind every small business there are always people, not artificial intelligence, robots and smart tools.</p>
	</div>
	<div class="col-md-12"><img src="robots.jpg"></div>
</div>

<div class="row">
	<div class="col-md-4">.col-md-4</div>
  	<div class="col-md-4">.col-md-4</div>
  	<div class="col-md-4">.col-md-4</div>
</div>