<div class="starter-template">
	<h1>Welcome to LunchFinder</h1>
	<p class="lead">Share your knowledge and experience to find new opportunities</p>

	<img src="start.jpg">

</div>

<div class="row">
	<div class="col-md-12">
		<h1 class="tac">People first!</h1>
		<p class="lead">We believe that behind every small business there are always people,<br/>not artificial intelligence, robots and smart tools.</p>
	</div>
	<div class="col-md-12"><img src="robots.jpg"></div>
</div>

<div class="row">
	<div class="col-md-6">
		<img src="ceo.jpg">
	</div>
  	<div class="col-md-6">
  		<div class="row">
  			<div class="col_md-4">asdasdasd</div>
  			<div class="col_md-8">adsadasdasdasd</div>
  		</div>
  	</div>
  	
</div>