<div class="starter-template">
	<h1>Welcome to LunchFinder</h1>
	<p class="lead">Share your knowledge and experience to find new opportunities</p>

	<img src="start.jpg">

</div>

<div class="row">
	<div class="col-md-12">
		<h1 class="tac">People first!</h1>
		<p class="lead tac">We believe that behind every small business there are always people,<br/>not artificial intelligence, robots and smart tools.</p>
	</div>
	<div class="col-md-12"><img src="robots.jpg"></div>
</div>


<div class="row">
	<div class="col-md-12">
		<h1 class="tac">How it works?</h1>
		<p class="lead tac">We believe that behind every small business there are always people,<br/>not artificial intelligence, robots and smart tools.</p>
	</div>
	<div class="col-md-12"><img src="robots.jpg"></div>
</div>

<div class="row">
	<div class="col-md-6 tac">
		<img src="story-2.jpg">
	</div>
	<div class="col-md-6">
		<h1>Tytuł 1</h1>
		<p>Lorem ipsum dolor</p>
	</div>
</div>

<div class="row">
	<div class="col-md-6 tac">
		<h1>Tytuł 2</h1>
		<p>Lorem ipsum dolor</p>
	</div>
	<div class="col-md-6">
		<img src="story-3.jpg">
	</div>
</div>

<div class="row">
	<div class="col-md-6 tac">
		<img src="story-3.jpg">
	</div>
	<div class="col-md-6">
		<h1>Tytuł 3</h1>
		<p>Lorem ipsum dolor</p>
	</div>
</div>

<div class="row">
	<div class="col-md-6 tac">
		<h1>Tytuł 4</h1>
		<p>Lorem ipsum dolor</p>
	</div>
	<div class="col-md-6">
		<img src="story-4.jpg">
	</div>
</div>

<div class="row">
	<div class="col-md-12 tac">
		<h1 class="tac">It's that simple!</h1>
	</div>
</div>

<div class="row">
	<div class="col-md-12 tac">
		<img src="story-final.jpg">
	</div>
</div>
