<div class="starter-template">
	<h1>Welcome to LunchFinder</h1>
	<p class="lead">Share your knowledge and experience to find new opportunities</p>

	<img src="start.jpg">

</div>

<div class="row">
	<div class="col-md-12">
		<h1 class="tac">People first!</h1>
		<p class="lead tac">We believe that behind every small business there are always people,<br/>not artificial intelligence, robots and smart tools.</p>
	</div>
	<div class="col-md-12"><img src="robots.jpg"></div>
</div>


<div class="row">
	<div class="col-md-12">
		<h1 class="tac">How it works?</h1>
		<p class="lead tac">Just tell Alexa about your business needs and wait for confirmation from experts you are looking for.</p>
	</div>
</div>

<div class="row">
	<div class="col-md-12 tac">
		<img src="story-final.jpg">
	</div>
</div>
