<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> You have new invitation waiting for your confirmation</h1>
    <%= link_to("Confirm this invitation", confirm_meeting_url(meeting_id: @meeting_id)) %>
  </body>
</html>
